In [3]:
# Import depenencies
import pandas as pd

file_path = "..resources//credits.csv"
file_path2 = "../resources/titles.csv"

credits_df = pd.read_csv(file_path)
credits_df.head()

   person_id       id           name      character   role
0      59401  ts20945     Joe Besser            Joe  ACTOR
1      31460  ts20945     Moe Howard            Moe  ACTOR
2      31461  ts20945     Larry Fine          Larry  ACTOR
3      21174  tm19248  Buster Keaton    Johnny Gray  ACTOR
4      28713  tm19248    Marion Mack  Annabelle Lee  ACTOR

In [4]:
credits_df.shape

(124235, 5)

In [5]:
credits_df.info

<bound method DataFrame.info of         person_id         id           name      character      role
0           59401    ts20945     Joe Besser            Joe     ACTOR
1           31460    ts20945     Moe Howard            Moe     ACTOR
2           31461    ts20945     Larry Fine          Larry     ACTOR
3           21174    tm19248  Buster Keaton    Johnny Gray     ACTOR
4           28713    tm19248    Marion Mack  Annabelle Lee     ACTOR
...           ...        ...            ...            ...       ...
124230    1938589  tm1054116  Sangam Shukla         Madhav     ACTOR
124231    1938565  tm1054116   Vijay Thakur  Sanjay Thakur     ACTOR
124232     728899  tm1054116  Vanya Wellens        Budhiya     ACTOR
124233    1938620  tm1054116   Vishwa Bhanu          Gissu     ACTOR
124234    1938620  tm1054116   Vishwa Bhanu            NaN  DIRECTOR

[124235 rows x 5 columns]>

In [6]:
credits_df.count()

person_id    124235
id           124235
name         124235
character    107948
role         124235
dtype: int64

In [7]:
# Drop all rows with missing information
credits_df = credits_df.dropna(how='any')

In [8]:
#verify dropped rows
credits_df.count()

person_id    107948
id           107948
name         107948
character    107948
role         107948
dtype: int64

In [9]:
credits_df.dtypes

person_id     int64
id           object
name         object
character    object
role         object
dtype: object

In [10]:
titles_df = pd.read_csv(file_path2)
titles_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

In [11]:
titles_df.shape

(9871, 15)

In [12]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9871 entries, 0 to 9870
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9871 non-null   object
 1   title                 9871 non-null   object
 2   type                  9871 non-null   object
 3   description           9752 non-null   object
 4   release_year          9871 non-null   int64
 5   age_certification     3384 non-null   object
 6   runtime               9871 non-null   int64
 7   genres                9871 non-null   object
 8   production_countries  9871 non-null   object
 9   seasons               1357 non-null   float64
 10  imdb_id               9204 non-null   object
 11  imdb_score            8850 non-null   float64
 12  imdb_votes            8840 non-null   float64
 13  tmdb_popularity       9324 non-null   float64
 14  tmdb_score            7789 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 1.1+ MB

In [13]:
titles_df = pd.read_csv(file_path2)
titles_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

In [14]:
titles_df.count()

id                      9871
title                   9871
type                    9871
description             9752
release_year            9871
age_certification       3384
runtime                 9871
genres                  9871
production_countries    9871
seasons                 1357
imdb_id                 9204
imdb_score              8850
imdb_votes              8840
tmdb_popularity         9324
tmdb_score              7789
dtype: int64

In [17]:
titles_df = titles_df[['id', 'title', 'type', 'release_year','runtime','genres', 'production_countries']].copy()
titles_df.head()

,id,title,type,release_year,runtime,genres,production_countries
0,ts20945,The Three Stooges,SHOW,1934,19,"['comedy', 'family', 'animation', 'action', 'f...",['US']
1,tm19248,The General,MOVIE,1926,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US']
2,tm82253,The Best Years of Our Lives,MOVIE,1946,171,"['romance', 'war', 'drama']",['US']
3,tm83884,His Girl Friday,MOVIE,1940,92,"['comedy', 'drama', 'romance']",['US']
4,tm56584,In a Lonely Place,MOVIE,1950,94,"['thriller', 'drama', 'romance']",['US']

In [18]:
titles_df.count()

id                      9871
title                   9871
type                    9871
release_year            9871
runtime                 9871
genres                  9871
production_countries    9871
dtype: int64

In [19]:
titles_df.dtypes

id                      object
title                   object
type                    object
release_year             int64
runtime                  int64
genres                  object
production_countries    object
dtype: object

In [24]:
# Outputs data frame to CSV file for use in other notebooks
titles_df.to_csv("../resources/cleaned_titles.csv", index=False)

In [25]:
# Outputs data frame to CSV file for use in other notebooks
credits_df.to_csv("../resources/cleaned_credits.csv", index=False)